@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Ticket Home";
}

<h3>Ticket Tracker Home</h3>

<hr />
<div>
    <p>

        Welcome to the Ticket Tracker homepage!


    </p>

    <p>
        Please Login or Register below
    </p>

    <p>
        @Html.ActionLink("Login", "Index", "Users")
    </p>

    <p>
        @Html.ActionLink("Register", "Register", "Users")
    </p>

</div>
