@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Resolved Tickets";
}

<h3>Resolved Tickets</h3>

<hr />
<div>
    <p>

        View Resolved Tickets here!


    </p>
</div>

