@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Ticket Home";
}

<h3>Ticket Tracker Home</h3>

    <hr />
    <div>
        <p>

            Welcome to the Ticket Tracker homepage!
            

        </p>
    </div>

