
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <h3>
            Redirect Failed
        </h3>
        <hr />
        <p>
            There is and issue with your user priveleges. Please try registering again or contact your HR Manager to verify the accuracy of your referral code.
        </p>
        <hr />
        <div>
            @Html.ActionLink("Try To Register Again?", "Register")
        </div>

    </div>
</body>
</html>