@model TicketTrackingSystem.Models.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>
            Access Denied
        </h3>
        <p>
            <br />
            Access to this function is denied for the current user account. 
            <br />The priveleges you are trying to perform do not match the HR Referral Code associated with this account.
            <br />If this is incorrect, please register a new account with the correct HR Referral Code from your HR Manager.

        </p>
    </div>
</body>
</html>
